@import url('./variables.css');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

/* HEADER */

header {
  background-color: var(--color-main-d);
  color: var(--color-white);
  width: 100%;
  padding: 24px;
}

h1 {
  margin: 6px 0;
}

.header-note {
  text-align: end;
}

/* MAIN */

main {
  width: 100%;
  max-width: 840px;
  padding: 24px;
}

/* TABLE */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  width: calc(100% / 7);
  border-left: 1px solid var(--color-main-l-60);
  border-right: 1px solid var(--color-main-l-60);
}

th {
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 18px;
  padding: 6px;
}

/* - - - DATES - - - */

.date {
  border-top: 1px solid var(--color-main-l-60);
  text-align: right;
  font-size: 18px;
  padding: 12px;
}

.holliday {
  font-weight: 700;
  color: var(--color-main-d-60);
}

/* - - - EVENTS - - - */

.events-row > td {
  padding: 6px 3px;
}

.ligth-title {
  color: var(--color-white)
}

.dark-title {
  color: var(--color-black);
}

.events-row > td > div {
  text-align: center;
  vertical-align: center;
  font-size: 15px;
  color: var(--color-white);
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 18px 3px;
}

.subevents-row > td {
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  padding: 3px;
}

.subevents-row > td > p {
  width: 100%;
  padding: 6px;
  margin-bottom: 3px;
  border-radius: 3px 3px 6px 6px;
}

.eventTitle {
  text-align: center;
  vertical-align: center;
  font-size: 15px;
  color: var(--color-white);
  text-shadow: var(--color-black);
  font-weight: 600;
  border: var(--color-white) 3px solid;
  padding: 12px;
  border-radius: 24px;
}

.subevent {
  width: 100%;
  padding: 6px;
  margin-bottom: 3px;
  border-radius: 6px;
}
.smallText {
  font-size: 12px;
  text-align: right;
  color: var(--color-black-60);
  font-family: 'Montserrat';
}
